@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
.header-contaner{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 16px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Banner\ Image.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}
.header-part h4{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.header-part h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}

.secound-contaner{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 10px;
}
.contenar{
   text-align: center;

}
.contenar h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 70px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
}
.contenar p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}
.contenar h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center; 
}
.img-contaner{
    width: 802.9px;
    height: 500px;
    margin-top: 50px;
}
.img-contaner img{
    width: 100%;
    height: 100%;
}

.repar-contaner{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Vectorrr.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    gap: 20%;
    padding: 50px;
}
.left-content{
   padding: 10px;
   
}
.left-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 11%;
    text-align: left;
}
.left-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    
}
span{
    color: #fff;
}
.four-section{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 10px;
}
.regtengel-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    
}
.regtengel-part span{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: rgb(255, 0, 0);
}
.regtengel-part span > h3{
    color: #000;
    display: inline;
}
.btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    background: rgb(255, 0, 0);
    padding: 16px 32px 16px 32px;
    margin-top: 20px;
}

.display-selate{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 10%;
    padding: 20px;
    /* border: 1px solid red; */
}
.display-selate .item-1 h4{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0%;
    margin-bottom: 15px;
}
.display-selate .item-1 h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: justify;
    text-transform: capitalize;
}
.display-selate .item-1 p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    width: 400px;
    margin-top: 10px;
}
.display-selate .item-2 img{
    height:100%;
    width: 100%;
    border-radius: 50%;
    padding: 10px;
    border: 10px solid rgb(255, 0, 0) ;
}
.display-selate .item-3 h2{
    color: rgb(255, 0, 0);
    font-size: 48px;
}
.display-selate .item-3 p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    width: 220px;
    margin-bottom: 10px;
}